body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;

    background-image: url('../img/img/menu_background/ChatGPT Image 15. Apr. 2026, 10_36_40.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#impressum-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    width: min(90%, 800px);
    line-height: 1.6;
    overflow-wrap: break-word;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;

    box-sizing: border-box;
}

a {
 text-decoration: none;
 color: white;
}
